{{template "header"}}
	<title>HttpDNS</title>
</head>
	<body>
		<div class="navbar navbar-default">
			<div class="container">
				{{template "navbar" .}}
			</div>
		</div>
		<div class="container">
		
		</div>
		<div class="container" style="width: 500px">
			<form method="post" action="/qdns">
				<div class="form-group">
					<label>http://localhost:8080/qdns=</label>
					<input type="text" class="form-control" placeholder="Domain，Exp：www.baidu.com" name="domain">
				</div>
				<input type="hidden" name="query" value="querydns">
				<button type="submit" class="btn btn-default">Query</button>
			</form>
		</div>
		<div class="container" style="width: 500px">
			
		</div>
</html>