{{template "header"}}
	<title>Todo</title>
</head>


	<body>
		<div class="navbar navbar-default">
			<div class="container">
				{{template "navbar" .}}
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="span8 offset2">
					<div id="todo" class="well">
						<table class="table table-hover">
							<thead>
								<tr>
									<td>
										<h3 class="text-success">Todo List</h3>
									</td>
								</tr>
							</thead>
							<tbody>
								{{range .Todos}}
								<tr class="success">
									<td class="todo">
										<div class="span2">
											<a href=""><i class="icon-ok">{{.Title}}</i></a>
										</div>
									</td>
								</tr>
								{{end}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<a href="/todo/add" class="btn btn-primary">新增Todo</a>
		</div>

</html>