{{template "header"}}
	<title>Todo</title>
</head>


	<body>
		<div class="navbar navbar-default">
			<div class="container">
				{{template "navbar" .}}
			</div>
		</div>
		
		<div class="container">
			<div class="span8 offset2">
				<ul>
					{{with .Todos}}
						{{range .}}
							<li>
									{{if .Finish}}
										<del>{{.Title}}</del> &nbsp;
										<a href="/todo/finish?id={{.Id}}&finish={{.Finish}}">恢复</a>
									{{else}}
										{{.Title}} &nbsp;
										<a href="/todo/finish?id={{.Id}}&finish={{.Finish}}">完成</a>
									{{end}}
									<a href="/todo/edit?id={{.Id}}">修改</a>
									<a href="/todo/delete?id={{.Id}}" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
							</li>
						{{end}}
					{{end}}
				</ul>
			</div>
		</div>

		<div class="container">
			<form action="/todo" method="post" onsubmit="return emptyCheck()">
				<div class="form-group">
					<input type="text" name="title" class="form-control" />
				</div>
				<button type="submit" class="btn btn-primary">新增Todo</button>
			</form>
		</div>

        <script type="text/javascript">
	        function emptyCheck() {
	            var title = document.all['title'].value;
	            if (title.length == 0) {
	                alert("Content is null.")
	                return false;
	            }
	            return true;
	        }
        </script>
</html>