{{template "header"}}
	<title>GoChair</title>
</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container">
				{{template "navbar" .}}
			</div>
		</nav>
		<div class="container col-sm-offset-1 col-sm-10">
			<div class="row">
				<div class="col-md-5">
					<form action="/Task" method="POST" class="form-horizontal">
						<div class="form-group form-group-lg has-success">
							<input id="projectname" class="form-control" placeholder="project name" name="projectname">
							<textarea class="form-control" rows="3" placeholder="instanceuid" name="instanceuid"></textarea>
							<button type="submit" class="btn btn-primary btn-lg">Add Project</button>
						</div>
					</form>
				</div>

				<div class="col-md-5">
					<form action="/Task" method="POST" class="form-horizontal">
						<div class="form-group form-group-lg has-warning">
							<input id="projectname" class="form-control" placeholder="project name" name="projectname">
							<textarea class="form-control" rows="3" placeholder="instanceuid" name="instanceuid"></textarea>
							<button type="submit" class="btn btn-danger btn-lg">Del Project</button>
						</div>
					</form>
				</div>
			</div>
		</div>
<!--		

		<div class="col-sm-offset-2 col-sm-6">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Project</th>
						<th>Operation</th>
					</tr>
				</thead>
				<tbody>
				<tr class="success">
					<td><a>/Ngame/</a></td>
					<td>
						<button type="button" class="btn btn-primary btn-lg">
							<span class="glyphicon glyphicon-send"></span> Goto
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
-->
	</body>
</html>